@use '../shared.scss' as *;

.ListActions {
	@extend .flex-row;
	@extend .gap-sm;

	button.action {
		padding: 0.3rem;
		border-radius: 0.4rem;

		transition: background-color 0.1s ease-in;
		background-color: rgba(var(--foreground), 0);

		&:hover {
			background-color: rgba(var(--foreground), 0.1);
		}
	}
}
