@use '../variables.scss' as *;
@use '../shared.scss' as *;

nav.navbar {
	position: fixed;
	height: $navbar-height;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0.2rem 0 0 rgba(var(--foreground), 0.3);

	div.menu {
		height: $menu-height;
		background-color: rgb(var(--primary-medium));
		color: rgba(var(--background), 1);

		@extend .flex-row;
		@extend .space-between;

		h1 {
			margin-right: 0;
			font-size: 1.4rem;
		}

		button {
			height: $menu-height;
			width: $menu-height;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(var(--foreground), 0);

			transition: all 0.15s ease-in;

			&:hover {
				background-color: rgba(var(--foreground), 0.3);
			}
		}
	}

	div.search {
		width: 100%;
		height: $searchbar-height;
		background-color: rgb(var(--background));

		@extend .flex-row;

		> button {
			height: $searchbar-height;
			width: $searchbar-height;

			@extend .flex-row;
			@extend .content-center;
			@extend .items-center;
		}

		> input {
			flex: 1;
			height: $searchbar-height;
			background-color: rgb(var(--background));
			border: none;
			padding: 0.25rem 0;
			font-size: 1.1rem;
			vertical-align: baseline;
			box-sizing: border-box;
			outline: none;
		}
	}
}
