span.TagBadge {
	padding: 0.05rem 0.5rem;
	border-radius: var(--radius-full);
	border-style: solid;
	border-width: 0.1rem;
	font-weight: 900;
	font-size: 0.75rem;
	vertical-align: baseline;
	user-select: none;
}
